.dropup {
    position: relative;
    display: inline-block;
  }
.dropup-content {
    display: none;
    position: absolute;
    bottom: 50px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropup-content a:hover {background-color: #ddd}
.dropup:hover .dropup-content {
    display: block;
  }
/*---------------------------------------------------------------------*/
.div-27 {
    position: absolute;
    width: 391px;
    height: 81px;
    top: 10636px;
    left: 63px;
    background: rgba(217, 217, 217, 0);
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    transition-duration: 0.4s;
  }
  
  .span-29 {
    position: absolute;
    width: 335px;
    height: 81px;
    top: 15px;
    left: 0;
    font-family: Oranienbaum;
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    z-index: 2;
    word-break: break-word;
    transition-duration: 0.4s;
  }
  .div-2a {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 12px;
    left: 313px;
    background: url(./assets/images/0225822d4d5a7844dd0a52e17fe4fd2bc241dec6.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  .div-27:hover {
    background-color: rgba(254, 142, 30, 0.4);
    
  }
  .span-29:hover {
    color: orange;
  }